@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2e5d1; /*#fed18c;*/
  color: #071e22;
  width: 100%;
}

header {
  padding: 2%;
  text-align: center;
  color: #0060e3; /*coral;*/
  font-family: "Computer Modern Italic";
  font-weight: bold;
  font-size: 20px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
}
footer {
  padding: 2%;
  text-align: center;
  color: #0060e3;
  font-family: "Helvetica";
  margin: auto;
  font-size: 20px;
}

div.pageblock {
  margin: auto;
  width: 75vw;
  text-align: center;
  height: 80vh;
  display: table;
}

.link {
  text-decoration: underline;
  display: inline;
  padding: 1%;
  cursor: pointer;
}

.link:hover {
  text-decoration-line: none;
}

.title {
  font-family: "Coolvetica";
  padding: 2%;
}

h1 {
  font-size: 7rem;
}

h3 {
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 3rem;
}

p {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.75rem;
}

.fonts {
  font-size: 4rem;
  overflow: auto;
}

.homeList {
  animation: "fadeInUp" 3s;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.socials {
  display: flex;
  position: relative;
  top: 2%;
  justify-content: space-around;
}

button.email {
  border-radius: 20px;
  border-width: 2px;
  background-color: #0060e3;
  padding-left: 10px;
  padding-right: 10px;
  color: #f2e5d1;
}

button.email:hover {
  background-color: #f2e5d1;
  color: #0060e3;
  border-color: #0060e3;
  border-width: 2px;
  animation: "emailButton" 350ms;
}

@keyframes emailButton {
  from {
    background-color: #0060e3;
    color: #f2e5d1;
  }
  to {
    background-color: #f2e5d1;
    border-color: #0060e3;
  }
}

.fontMenu {
  display: none;
  padding: 0rem;
}

.fontMenu:hover {
  display: inline;
  color: #0060e3;
}

.fonts:focus + .fontMenu {
  display: block;
  color: #0060e3;
}

.author,
.license,
.fontLink {
  font-size: 1.5rem;
  padding: 0.25rem;
}
.fontLink {
  text-decoration: underline;
  cursor: pointer;
}

.text {
  text-align: justify;
  display: flex;
  margin: auto;
  width: 100%;
}

.arkiv {
  text-align: center;
  width: 100vw;
}

.H22 {
  font-family: computer modern;
}

.V23 {
  font-family: speedway;
}

.H23 {
  font-family: pop magic;
}

.V24 {
  font-family: Rafaella;
}

[contentEditable]:focus {
  outline: 0px solid transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 3.25rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
  }
  .fonts {
    font-size: 2rem;
  }
  .author,
  .license,
  .fontLink {
    font-size: 0.75rem;
    padding: 0.2rem;
  }
}

/* 
       ______  _______  ____    ___  __________  _________
      /  ___/ / ___  / /    |  /  / /___   ___/ /  ______/
     /  /__  / /  / / /  /| | /  /     /  /    \_  \__
    /  ___/ / /__/ / /  / | |/  /     /  /   ____\    \
   /__/    /______/ /__/  |____/     /__/   /_________/
*/

/* Excalibur Nouveau */
@font-face {
  font-family: "Excalibur Nouveau";
  src: url(/fonts/Excalibur-Nouveau.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Retro Boldy */
@font-face {
  font-family: "Retro Boldy";
  src: url(/fonts/RetroBoldy-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Speedway */
@font-face {
  font-family: "Speedway";
  src: url(/fonts/Speedway.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Verve */
@font-face {
  font-family: "Verve";
  src: url(/fonts/Verve.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Vintage */
@font-face {
  font-family: "Vintage";
  src: url(/fonts/Vintage.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Barcode */
@font-face {
  font-family: "Barcode";
  src: url(/fonts/Another-barcode-font.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Franchise */
@font-face {
  font-family: "Franchise";
  src: url(/fonts/Franchise.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Planet Kosmos */
@font-face {
  font-family: "Planet Kosmos";
  src: url(/fonts/PlanetKosmos.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Space Time */
@font-face {
  font-family: "Space Time";
  src: url(/fonts/spacetime-regular.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Mentra */
@font-face {
  font-family: "Mentra";
  src: url(/fonts/MENTRA.otf);
  font-weight: normal;
  font-style: normal;
}

/* Stretch Pro */
@font-face {
  font-family: "Strretch Proo";
  src: url(/fonts/StretchPro.otf);
  font-weight: normal;
  font-style: normal;
}

/* Saddlebag */
@font-face {
  font-family: "Saddlebag";
  src: url(/fonts/Saddlebag.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Coolvetica */
@font-face {
  font-family: "Coolvetica";
  src: url(/fonts/coolvetica-rg.otf);
  font-weight: normal;
  font-style: normal;
}

/* Computer Modern */
@font-face {
  font-family: "Computer Modern";
  src: url(/fonts/cmunrm.ttf);
  font-weight: normal;
  font-style: normal;
}
/* Computer Modern Italic*/
@font-face {
  font-family: "Computer Modern Italic";
  src: url(/fonts/cmunti.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Alarm Clock */
@font-face {
  font-family: "Alarm clock";
  src: url(/fonts/alarm_clock.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Anderson Grotesk Ultrabold*/
@font-face {
  font-family: "Anderson Grotesk Ultrabold";
  src: url(/fonts/AndersonGrotesk-Ultrabold.otf);
  font-weight: normal;
  font-style: normal;
}

/* Anderson Grotesk */
@font-face {
  font-family: "Anderson Grotesk";
  src: url(/fonts/AndersonGrotesk.otf);
  font-weight: normal;
  font-style: normal;
}

/* Against */
@font-face {
  font-family: "Against";
  src: url(/fonts/against_regular.otf);
  font-weight: normal;
  font-style: normal;
}

/* Black Mustang */
@font-face {
  font-family: "Black Mustang";
  src: url(/fonts/Black_Mustang.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Cfour */
@font-face {
  font-family: "Cfour";
  src: url(/fonts/Cfour.otf);
  font-weight: normal;
  font-style: normal;
}

/* Calligrapher */
@font-face {
  font-family: "Calligrapher";
  src: url(/fonts/CALLN_.TTF);
  font-weight: normal;
  font-style: normal;
}

/* Retro Cool */
@font-face {
  font-family: "Retro Cool";
  src: url(/fonts/RetroCoolRegular-Yz83j.otf);
  font-weight: normal;
  font-style: normal;
}

/* Chappa */
@font-face {
  font-family: "Chappa";
  src: url(/fonts/chappa-Black.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Bronova Bold */
@font-face {
  font-family: "Bronova Bold";
  src: url(/fonts/Bronova_Bold.otf);
  font-weight: normal;
  font-style: normal;
}

/* Blemo */
@font-face {
  font-family: "Blemo";
  src: url(/fonts/blemo.otf);
  font-weight: normal;
  font-style: normal;
}

/* Akira Expanded */
@font-face {
  font-family: "Akira Expanded";
  src: url(/fonts/Akira\ Expanded\ Demo.otf);
  font-weight: normal;
  font-style: normal;
}

/* Bogam */
@font-face {
  font-family: "Bogam";
  src: url(/fonts/Bogam.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Cino */
@font-face {
  font-family: "Cino";
  src: url(/fonts/Cino\ Regular.otf);
  font-weight: normal;
  font-style: normal;
}

/* Thunder */
@font-face {
  font-family: "Thunder Bold Italic";
  src: url(/fonts/Thunder-BoldHCItalic.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Vivaldi */
@font-face {
  font-family: "Vivaldi";
  src: url(/fonts/VIVALDII.TTF);
  font-weight: normal;
  font-style: normal;
}

/* Aber Mono */
@font-face {
  font-family: "Aber Mono";
  src: url(/fonts/Aber-Mono-Bold.otf);
  font-weight: normal;
  font-style: normal;
}

/* Bryson */
@font-face {
  font-family: "Bryson";
  src: url(/fonts/Bryson-Personal-Use-Only-BF6451192a64c8f.otf);
  font-weight: normal;
  font-style: normal;
}

/* Capuche */
@font-face {
  font-family: "Capuche";
  src: url(/fonts/Capuche\ Trial.otf);
  font-weight: normal;
  font-style: normal;
}

/* Clepto */
@font-face {
  font-family: "Clepto";
  src: url(/fonts/Clepto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Cotta */
@font-face {
  font-family: "Cotta";
  src: url(/fonts/cotta-free.otf);
  font-weight: normal;
  font-style: normal;
}

/* Pop Magic */
@font-face {
  font-family: "Pop Magic";
  src: url(/fonts/GAU_pop_magic.TTF);
  font-weight: normal;
  font-style: normal;
}

/* Git Sans */
@font-face {
  font-family: "Git Sans";
  src: url(/fonts/Git-Sans.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Macro */
@font-face {
  font-family: "Macro";
  src: url(/fonts/MACRO_FREE.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Saonara */
@font-face {
  font-family: "Saonara";
  src: url(/fonts/MADE\ SAONARA\ PERSONAL\ USE.otf);
  font-weight: normal;
  font-style: normal;
}

/* Sherman */
@font-face {
  font-family: "Sherman";
  src: url(/fonts/Sherman-Display.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Space Mono */
@font-face {
  font-family: "Space Mono";
  src: url(/fonts/SpaceMono-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Carizo */
@font-face {
  font-family: "Carizo";
  src: url(/fonts/Carizo\ Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Goldfish */
@font-face {
  font-family: "Goldfish";
  src: url(/fonts/Goldfish.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Great Warrior */
@font-face {
  font-family: "Great Warrior";
  src: url(/fonts/Great\ Warrior.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Petrov Sans */
@font-face {
  font-family: "Petrov Sans";
  src: url(/fonts/PetrovSans-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Whiskey State */
@font-face {
  font-family: "Whiskey State";
  src: url(/fonts/WhiskeyState_PERSONAL_USE_ONLY.otf);
  font-weight: normal;
  font-style: normal;
}

/* Checkbook */
@font-face {
  font-family: "Checkbook";
  src: url(/fonts/CHECKBK0.TTF);
  font-weight: normal;
  font-style: normal;
}

/* Didot */
@font-face {
  font-family: "Didot";
  src: url(/fonts/Didot\ Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Futura */
@font-face {
  font-family: "Futura";
  src: url(/fonts/futura\ medium\ bt.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Cloister Black */
@font-face {
  font-family: "Cloister Black";
  src: url(/fonts/CloisterBlack\ 2.ttf);
  font-weight: normal;
  font-style: normal;
}
