<h1><a id="title" href="/">Bergen font</a></h1>
<div id="nav">
	<div id="navitem"><a id="link" href="/arkivet">arkivet</a></div>
	<div id="navitem"><a id="link" href="/om_oss">om oss</a></div>
</div>
