<h1><a id="title" href="/">Om oss</a></h1>
<div id="content">
    <p>
        Bergen Fontforening ble grunnlagt en vakker dag i desember i 2022, i
        stuen i Welhavens Gate 82, 1. etasje.
        <br />
        Det hele startet med en obligatorisk oppgave i statisitkk på Univeristetet
        i Bergen. Oppgaven var skrevet i samme font som du leser akkurat nå. Jeg
        måtte finne ut hvilken font det var. Jeg sendte en epost og signerte som
        Bergen Fontforening. Overraskende nok tok emneansvarlig dette sprøsmålet
        seriøst og svarte etter noen dager. Navnet på fonten? Computer Modern. Fonten
        er designet av Donald Knuth og er nok mest kjent for å være standard i TeX
        systemet som er utviklet av samme mann.
    </p>
    <p>
        Vi ønsker at alle skal bli mer bevisste på alle fontene vi har rundt oss
        hele tiden. Derfor leter vi etter fonter som vi mener fortjener mer
        bruk, slik at vi kan dele de med dere flotte fontfanatikere.
    </p>
    <p>
        Bergen Fontforening tar ikke eierskap til noen av fontene vi viser frem.
        <br />
        Alle fontene er plukket ut fordi vi mener de fortjener å bli sett av flere.
        Du kan derfor finne informasjon om skaperen, lisenser og link til nedlasting
        av fonten i arkivet.
    </p>
</div>
