---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/BergenFontLogoFavicon.svg"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Bergen Font</title>
		<link rel="stylesheet" href="https://use.typekit.net/vjv3bxg.css" />
	</head>
	<body>
		<slot />
	</body>
</html>
